:root {

  --navbar-bg: #21538086;
  --navbar-text: #FFFBDE;
  --text-color: #1a1a1a;
  --nav-hover: #e74c3c;
  --icon-bg: #000;
  --icon-color: #fff;
  --card-bg: #EEEEEE;
  --alt-card-bg: #f7f7f7;
  --border-dot-color:#393E46 ;
  --background-color: #21538086;
  --backgroud-color-reverse: #DBDBDB;
  --background-project: #E9E3DF;
  --background-project-content: rgba(75, 152, 194, 0.801);
  --backgroud-e0e7ef-reverse: #a1c8e3cb;
  --backbtn-project: #154D71;
  --tag: #A4CCD9;
  --tag-text: #EAEFEF;
  --toc-mark: #63aeddd0;
  --toc-mark-border: rgba(99, 137, 168, 0.616);
  --toc-link: #093FB4;
  --toc-link-hover: #FFF8F8;

  /* page experience */
  --card-bg-exp: #B3C8CF;
  --card-border: #B3C8CF;
  --card-shadow: 0 6px 20px #437596b6;
  --title: #000000;
  --muted: #113F67;
  --chip-bg: #FDF5AA;
  --chip-border: #FFFBDE;
  --chip-hover: #fffbdee0;
  --accent: #4298ca; /* đỏ san hô nhẹ cho cọc time */
  --accent-soft: #d6edfcf5;


  --wrap: 1500px; /* = max-width của .wrapper */
  --toc: 320px; /* = width của TOC */
  --toc-max: 340px; /* max-width của TOC */
  --toc-min: 280px; /* min-width của TOC */
  --gap: 1rem; /* khoảng cách của content <-> TOC */
  --pad: 1rem; /* padding của .Wrapper */
  --nav-h: 90px;
  --toc-gap-top: 16px;


  color: var(--text-color);
  background-color: #ffffff;
}

:root.dark {
  --text-sectionTitle: clamp(40px, 6vw, 104px ) 0;

  --navbar-bg: #1340686b;
  --navbar-text: #fffbdec5;
  --text-color: #f4f4f4;
  --nav-hover: #ff6b6b;
  --icon-bg: #fff;
  --icon-color: #000;
  --card-bg: #000000;
  --alt-card-bg: #2c2c2c;
  --border-dot-color: #F2F2F2 ;
  --background-color: #363333;
  --backgroud-color-reverse: #181818;
  --background-project: #181818;
  --background-project-content: #082436da;
  --backgroud-e0e7ef-reverse: #404a5469;
  --backbtn-project: #1C6EA4;
  --tag: #024CAA;
  --tag-text: #C4E1F6;
  --toc-mark: #43799bec;
  --toc-mark-border: rgba(148,163,184,0.28);
  --toc-link: #B8CFCE;
  --toc-link-hover: #E8F9FF;

  /* page experience */
  --card-bg-exp: #113F67;
  --card-border: #0e3150;
  --card-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  --title: #fafafa;
  --muted: rgba(255, 255, 255, 0.7);
  --chip-bg: #fdf5aa5b;
  --chip-border: #fffbde3b;
  --chip-hover: #fffbde52;
  --accent: #33A1E0; /* đỏ san hô nhẹ cho cọc time */
  --accent-soft: #1C6EA4;


  color: var(--text-color);
  background-color: #1a1a1a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* nền trắng mặc định */

}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
