.boxGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.box {
    background: var(--card-bg);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    max-width: 320px;
    flex: 1 1 400px;
    transition: all 0.3s ease;
    text-align: left;
}

.box:hover {
    transform: translateY(-16px); 
}

@media scree and (max-width: 1000px) {
    .box {
        padding: 1.2rem 1rem;
    }

    .box h3 {
        font-size: 1.1rem;
        margin-bottom: 0.75rem;
    }

    .box ul li {
        font-size: 0.875rem;
        line-height: 1.4;
        margin-bottom: 0.5rem;
    };

    .box ul {
        padding-left: 1.1rem;
    }
}